:root{
    font-size: 16px;
    --primary-font--:'Segee UI';
    --secondary-font--:'Verdana';
}
*{
    padding:0;
    margin:0;
    font-family: var(--secondary-font--);
}
/**navbar**/
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px 60px 10px 10px;
    box-shadow: 0px 8px 16px grey;
    position: relative;
    z-index: 1;
}
.navbar .logo{
    font-family: var(--primary-font--);
    font-size: 1.5rem;
}
.navbar ul{
    list-style-type:none;
    display: flex;
}
.navbar ul li{
    padding: 5px 10px;
    margin-right: 0.4px;
}
.navbar ul li a{
    text-decoration: none;
    font-size: 1.25rem;
    color: black;
}
/****fin navbar***/
/****br architect background autre et text***/
.br_architect{
    background:url(img/b-site.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.br_architect .logo{
    padding: 20px 20px;
    font-size: 2rem;
    color:white;
}
.br_architect .logo span{
    background: black;
    padding: 10px 20px;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    opacity: 0.8;
}
/********fin du background********/
/****nav****/
.rod ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #eee;
    height: 100%;
}

/****nav****/
.rod li a {
    display: flex;
    color:black;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

.rod li a:hover {
    background-color: rgb(56, 53, 65);
    color: black;
}
.active {
    color: black;
}
/***end nav***/
img{
    display: flex;
    border: 5px solid black;
}
h3{
    color:blue;
}
fieldset{
    border: 10px double black;
}
#t6{
    color: rgb(236, 152, 42);
}
#t7{
    color: brown;
}